body{
    background-color:#f8f8f8;
}

header{
    border:solid 1px #d4d4d4;
    margin-top:5px;
    padding:10px;
}

header .col-auto, .newGallery{
    cursor:pointer;
}

.left, .right{
    border:solid 1px #d4d4d4;
    padding:10px;
    position:relative;
}

.left{
    margin-right:3px;
}

.right{
    margin-left:3px;
}

main{
    margin-top:5px;
}

.galleries>div{
    margin:0px;
    padding:0px;
}

.box{
    width:280px;
    background-color:#f8f8f8;
    padding:10px;
    margin-top:50px;
    text-align:center;
    position:relative;
}

.close{
    position:absolute;
    top:5px;
    right:8px;
    cursor:pointer;
    opacity:1;
}

.owner{
    position:absolute;
    bottom:5px;
    right:8px;
    cursor:pointer;
}

.box form{
    text-align:left;
    margin:auto;
    width:200px;
}

.box form button{
    margin-top:10px;
}

.gallery{
    padding:5px;
}

.galleries .row{
    margin:0px;
    max-height: 400px;
    overflow-y:auto;
}

.gallery>div{
    position:relative;
}

.title{
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    top:0px;
    left:0px;
    color:white;
    padding:5px;
}

.aSupprimer{
    margin:0;
    margin-top:10px;
}

.grid-item{
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: auto;

}

